body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
}

.displayFlex {
  display: flex;
}

p {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.loadingText,
.errorMsg {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Header CSS */

.headerContainer {
  padding: 20px;
  background-color: #f4f4f4;
  padding-bottom: 0px;
}

.headerContainer .firstLine {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap !important;
}

.headerContainer .firstLine .repoNameContainer {
  word-break: break-word !important;
  font-size: 20px;
  font-weight: 400;
  flex: auto;
}

.headerContainer .firstLine .repoNameContainer .repoIcon {
  height: 15px;
  width: 15px;
}

.headerContainer .firstLine .repoNameContainer .repoName {
  color: #247bdf;
  margin-left: 5px;
}

.headerContainer .firstLine .repoNameContainer .projectName {
  color: #247bdf;
  font-weight: 600;
  margin-right: 5px;
}

.headerContainer .firstLine .repoNameContainer .repoType {
  border-radius: 2em;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 0 7px;
  white-space: nowrap;
  border: 1px solid #c9d1d9;
}

.headerContainer .firstLine ul {
  padding: 2px;
  display: inline;
  margin: 0px;
}

.headerContainer .firstLine ul li {
  float: left;
  font-size: 16px;
  border: 1px solid #c9d1d9;
  border-radius: 5px;
  padding: 3px 6px;
  margin-right: 8px;
}

.headerContainer .firstLine ul li img {
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  vertical-align: text-top;
}

.headerContainer .firstLine ul li img span {
  border: 1px solid #c9d1d9;
}

.headerContainer .secondLine {
  display: flex;
}

.headerContainer .secondLine li {
  margin: 0px 10px;
}

.headerContainer .secondLine li img {
  height: 15px;
  width: 15px;
  margin: 0px 5px;
  mix-blend-mode: darken;
  vertical-align: text-top;
}

.headerContainer .secondLine li span+span {
  margin-left: 5px;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px 5px;
  background-color: lightgray;
}

.headerContainer .secondLine li span+span+hr {
  margin-bottom: 0px;
  border-top: 2px solid orange;
}

/* Header CSS Ends */

/* Footer */

.footerDataUl {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  padding: 30px 70px 30px;
  color: #247bdf;
  padding-top: 20px;
}

.footerDataUl img {
  height: 20px;
  width: 20px;
}

.footerDataUl+div {
  display: none;
}

/* Footer CSS Ends */

/* issueBox Container */

.issueBoxContainer {
  padding: 30px 70px 30px;
}

/* header */

.issueBoxContainer .header {
  border: 1px solid #c9d1d9;
  height: 30px;
  padding: 10px 15px;
  border-radius: 5px 5px 0px 0px;
  background-color: #f4f4f4;
  border-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issueBoxContainer .header .left {
  display: flex;
  gap: 10px;
}

.issueBoxContainer .header .left>div {
  display: flex;
  gap: 5px;
}

.issueBoxContainer .header .left img {
  height: 20px;
  width: 20px;
}

.issueBoxContainer .header .right {
  display: flex;
  gap: 50px;
}

.issueBoxContainer .header .right img {
  height: 7px;
  width: 7px;
  margin-left: 5px;
}

.issueBoxContainer .box {
  border: 1px solid #c9d1d9;
  min-height: 10vh;
  max-height: 50vh;
  overflow: auto;
}

.issueBoxContainer .box .issueLi {
  border-bottom: 1px solid #c9d1d9;
  display: flex;
}

.issueBoxContainer .box .issueLi:hover {
  background-color: #eeeeee;
}

.issueBoxContainer .box li .left img {
  height: 20px;
  width: 20px;
  padding-top: 8px;
  padding-left: 16px;
}

.issueBoxContainer .box li .title {
  font-weight: 900;
  font-size: 18px;
  margin-right: 5px;
}

.issueBoxContainer .box li .timeline {
  margin-top: 4px;
  font-size: 12px;
}

.issueBoxContainer .box .statusTags {
  display: inline-block;
}

.issueBoxContainer .box .statusTags .tags {
  border-radius: 20px;
  background-color: plum;
  padding: 2px 7px;
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
}

.issueBoxContainer .protip {
  text-align: center;
  padding: 20px 0px 30px;
}

.issueBoxContainer .protip span {
  color: #247bdf;
}

.issueBoxContainer .box .left .leftContent {
  padding: 8px;
}

.issueBoxContainer .box .left {
  display: flex;
  width: 75%;
}

.issueBoxContainer .box .right {
  padding-top: 8px;
  padding-right: 16px;
  text-align: right;
  width: 25%;
}

.issueBoxContainer .box .right .rightContent {
  display: flex;
  justify-content: space-between;
}

.rightContent .display-inline {
  display: flex;
  gap: 5px;
}

.issueBoxContainer .box .right .rightContent img {
  height: 20px;
  width: 20px;
  mix-blend-mode: darken;
}

.issueBoxContainer .box .right .rightContent li span {
  margin-left: 5px;
  vertical-align: super;
}

@media only screen and (max-width: 740px) {
  .issueBoxContainer {
    padding: 10px;
  }

  .issueBoxContainer .header {
    border: 1px solid #c9d1d9;
    padding: 10px 5px;
    border-radius: 5px 5px 0px 0px;
    background-color: #f4f4f4;
    border-bottom: 0px;
    display: flex;
    overflow: auto;
  }

  .issueBoxContainer .box .left {
    display: flex;
    width: 100%;
  }

  .issueBoxContainer .box .right {
    display: none;
  }

  .issueBoxContainer .box li .title {
    font-weight: 900;
    font-size: 14px;
    margin-right: 5px;
    line-height: 1.5;
    flex-wrap: nowrap;
  }

  .issueBoxContainer .protip {
    text-align: center;
    padding: 30px 0px 20px;
  }

  .footerDataUl {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    color: #247bdf;
    flex-wrap: wrap;
    padding-top: 0px;
  }

  .footerDataUl .githubLogoLi {
    height: 20px;
    width: 20px;
    display: none;
  }

  .footerDataUl+div {
    text-align: center;
    margin-bottom: 20px;
    display: block;
  }

  .githubLogo {
    height: 20px;
    width: 20px;
  }

  .headerContainer .secondLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .headerContainer .secondLine img {
    display: none;
  }

  .issueBoxContainer .header .right {
    display: flex;
    gap: 50px;
    overflow: hidden;
  }

  .issueBoxContainer .header .right img {
    height: 7px;
    width: 7px;
    margin-left: 5px;
    display: none;
  }

  .issueBoxContainer .header .left {
    display: none;
  }

  .headerContainer .firstLine ul {
    padding: 2px;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .issueBoxContainer .box {
    border: 1px solid #c9d1d9;
    min-height: 10vh;
    max-height: 40vh;
    overflow: auto;
  }

}